

#funny_button {
    border-radius: 5px;
/*    background-color:#993333;*/
    color:white;
}

#keyword_field_count {
    border:none;
}

#keyword_field_count:focus {
    outline-width:none;
    outline:none;
    border:none;
}

#website_field {
    border:none;
}

#website_field:focus {
    outline-width:none;
    outline:none;
    border:none;
}

.pink_color{
/*    color:#993333;*/
}



.panel {
    margin-top: 300px;
    text-align:center; 
}
