

#funny_button {
    border-radius: 5px;
/*    background-color:#993333;*/
    color:white;
}

.pink_color{
/*    color:#993333;*/
}

.pink_button{
/*    background-color:#993333;   */
}

.panel {
    margin-top: 300px;
    text-align:center; 
}
